.myContainer{
    max-width: 1140px;
    margin: 0 auto;
    background-color: floralwhite;
}
.box-title{
    text-align: center;
    border: black solid 1px;
}
.box-content{
    border: black solid 1px;
    display: flex;
    justify-content: space-around;
}
.box-content button{
    margin: 10px;
}
.box-result{
    border: 1px solid black;
    height: 52px;
    text-align: center;
}
.box-result-challenge-2{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box-result-challenge-2 img{
    padding: 5px;
    margin: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}
.box-result-challenge-3{
    display: flex;
    justify-content: space-around;
    flex: wrap;
    border: 1px solid black;
}
.box-result-challenge-3 img{
    width: 240px;
    height: auto;
    margin: 20px 0;
    padding: 2px;
}
.box-result-challenge-3 img:hover{
    box-shadow: 8px 10px 50px rgba(37, 50, 233, 1);
}

.box-result-challenge-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border: 1px solid black;

}
#flex-box-challenge-5{
    display: flex;
    flex-wrap: wrap;
    background-color: seagreen;
}
#flex-box-challenge-5-left, #flex-box-challenge-5-right{
    height: 420px;
    flex-grow: 1;
    flex-basis: 50%;
    flex-wrap: wrap;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid black;
}
#flex-box-challenge-5-left h3, #flex-box-challenge-5-right h3{
    /* align-self: flex-start; */
    text-align: center;
}
#flex-box-challenge-5-left img, #flex-box-challenge-5-right img{
    width: 77px;
    margin: 5px;
    height: auto;
}

#flex-box-challenge-5-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 100%;
}
#flex-box-challenge-5-bottom button{
    margin: 8px;
    border: 1px solid white;
}
#box-blackjack-result{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
#box-blackjack-result table{
    margin: 20px 0;
}
#box-blackjack-result tr, td, th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}